$color-000: #000;
$color-111: #111;
$color-222: #222;
$color-333: #333;
$color-444: #444;
$color-555: #555;
$color-666: #666;
$color-777: #777;
$color-888: #888;
$color-999: #999;
$color-aaa: #aaa;
$color-bbb: #bbb;
$color-ccc: #ccc;
$color-ddd: #ddd;
$color-eee: #eee;
$color-fff: #fff;

$color-transparent: transparent;
$color-blue: blue;
$color-red: red;
$color-green: green;
$color-yellow: yellow;
$color-brown: brown;
$color-gold: gold;
$color-silver: silver;
$color-lavender: lavender;
$color-magenta : magenta ;
$color-maroon  : maroon  ;
$color-navy    : navy    ;
$color-olive   : olive   ;
$color-pink    : pink    ;
$color-purple  : purple  ;
