@mixin border-radius($radius) {
	-webkit-border-radius: $radius !important;
	   -moz-border-radius: $radius !important;
	    -ms-border-radius: $radius !important;
	        border-radius: $radius !important;
}

/*
@mixin top($top) {
	top: str-slice($top, 1, str-length($top) - str-length(unit($top))) + unit($top) !important;
}
*/


