//***********************************************
//    Variables
//***********************************************

$zero: 0;
$one: 1;
$five: 5;
$ten: 10;
$twenty-five: 25;
$fifty: 50;
$one-hundred: 100;
$two-hundred: 200;
$five-hundred: 500;
$one-thousand: 1000;
