// Note that the leading underscore is important in the partial file names
@import "partials/_colors.scss";
@import "partials/_mixins.scss";

/***********************************************
    color (font color) (like emmet)
***********************************************/
.x-c-t {
    color: transparent !important;
}

// common colors between black "000" and white "fff"
@each $item in "000", "111", "222", "333", "444", "555", "666", "777", "888", "999", "aaa", "bbb", "ccc", "ddd", "eee", "fff" {
    .x-c-#{$item} {
        color: #{"#" + $item} !important;
    }
}

// some other common colors
@each $item in "transparent", "blue", "red", "green", "yellow", "brown", "gold", "silver", "lavender", "magenta", "maroon", "navy", "olive", "pink", "purple" {
    .x-c-#{$item} {
        color: #{$item} !important;
    }
}


/***********************************************
    background-color (like emmet)
***********************************************/
.x-bgc-t {
    background-color: transparent !important;
}

// common colors between black "000" and white "fff"
@each $item in "000", "111", "222", "333", "444", "555", "666", "777", "888", "999", "aaa", "bbb", "ccc", "ddd", "eee", "fff" {
    .x-bgc-#{$item} {
        background-color: #{"#" + $item} !important;
    }
}

// some other common colors
@each $item in "transparent", "blue", "red", "green", "yellow", "brown", "gold", "silver", "lavender", "magenta", "maroon", "navy", "olive", "pink", "purple" {
    .x-bgc-#{$item} {
        background-color: #{$item} !important;
    }
}


/***********************************************
    border-color (like emmet)
***********************************************/
.x-bdc-t {
    border-color: transparent !important;
}

// common colors between black "000" and white "fff"
@each $item in "000", "111", "222", "333", "444", "555", "666", "777", "888", "999", "aaa", "bbb", "ccc", "ddd", "eee", "fff" {
    .x-bdc-#{$item} {
        border-color: #{"#" + $item} !important;
    }
}


/***********************************************
    font-weight (like emmet)
***********************************************/
@each $item in "n", "b", "100", "200", "300", "400", "500", "600", "700" {
    .x-fw-#{$item} {
        @if $item=="n" {
            font-weight: normal !important;
        }
        @else if $item=="b" {
            font-weight: bold !important;
        }
        @else {
            font-weight: #{$item} !important;
        }
    }
}


/***********************************************
    font-size (like emmet)
***********************************************/
@for $item from 1 through 100 {
    .x-fz-#{$item} {
        font-size: $item + px !important;
    }
}


/***********************************************
    border-radius
***********************************************/
@for $item from 0 through 25 {
    .x-bdra-#{$item} {
        @include border-radius($item + px);
    }
}

@each $item in "1", "5", "10", "15", "20", "25", "30", "35", "40", "45", "50", "55", "60", "65", "70", "75", "80", "85", "90", "95", "100" {
    .x-bdra-#{$item}-p {
        @include border-radius(unquote($item + "%"));
    }
}


/***********************************************
    height (like emmet)
***********************************************/
.x-h-a {
    height: auto !important;
}

@for $item from 0 through 150 {
    .x-h-#{$item} {
        height: $item + px !important;
    }
}


/***********************************************
    width (like emmet)
***********************************************/
.x-w-a {
    width: auto !important;
}

@for $item from 0 through 150 {
    .x-w-#{$item} {
        width: $item + px !important;
    }
}


/***********************************************
    margin (like emmet)
***********************************************/
.x-m-a {
    margin: auto !important;
}

@for $item from 0 through 150 {
    .x-m-#{$item} {
        margin: $item + px !important;
    }
}


/***********************************************
    margin-top (like emmet)
***********************************************/
.x-mt-a {
    margin-top: auto !important;
}

@for $item from 0 through 150 {
    .x-mt-#{$item} {
        margin-top: $item + px !important;
    }
}


/***********************************************
    margin-bottom (like emmet)
***********************************************/
.x-mb-a {
    margin-bottom: auto !important;
}

@for $item from 0 through 150 {
    .x-mb-#{$item} {
        margin-bottom: $item + px !important;
    }
}


/***********************************************
    margin-right (like emmet)
***********************************************/
.x-mr-a {
    margin-right: auto !important;
}

@for $item from 0 through 150 {
    .x-mr-#{$item} {
        margin-right: $item + px !important;
    }
}


/***********************************************
    margin-left (like emmet)
***********************************************/
.x-ml-a {
    margin-left: auto !important;
}

@for $item from 0 through 150 {
    .x-ml-#{$item} {
        margin-left: $item + px !important;
    }
}


/***********************************************
    padding (like emmet)
***********************************************/
@for $item from 0 through 150 {
    .x-p-#{$item} {
        padding: $item + px !important;
    }
}


/***********************************************
    padding-top (like emmet)
***********************************************/
@for $item from 0 through 150 {
    .x-pt-#{$item} {
        padding-top: $item + px !important;
    }
}


/***********************************************
    padding-bottom (like emmet)
***********************************************/
@for $item from 0 through 150 {
    .x-pb-#{$item} {
        padding-bottom: $item + px !important;
    }
}


/***********************************************
    padding-right (like emmet)
***********************************************/
@for $item from 0 through 150 {
    .x-pr-#{$item} {
        padding-right: $item + px !important;
    }
}


/***********************************************
    padding-left (like emmet)
***********************************************/
@for $item from 0 through 150 {
    .x-pl-#{$item} {
        padding-left: $item + px !important;
    }
}


/***********************************************
    direction
***********************************************/
.x-dr-ltr {
    direction: ltr !important;
}

.x-dr-rtl {
    direction: rtl !important;
}


/***********************************************
    font-family
***********************************************/
.x-ff-arial {
    font-family: Arial, sans-serif !important;
}

.x-ff-helvetica {
    font-family: Helvetica, sans-serif !important;
}

.x-ff-helveticaneue {
    font-family: 'Helvetica Neue', sans-serif !important;
}

.x-ff-tahoma {
    font-family: Tahoma, sans-serif !important;
}

.x-ff-jozoor {
    font-family: 'JF Flat Regular', sans-serif !important;
}

.x-ff-droidarabicnaskh {
    font-family: 'Droid Arabic Naskh', sans-serif !important;
}

.x-ff-droidarabickufi {
    font-family: 'Droid Arabic Kufi', sans-serif !important;
}

.x-ff-cairo {
    font-family: 'Cairo', sans-serif !important;
}

.x-ff-scheherazade {
    font-family: 'Scheherazade', serif !important;
}

.x-ff-elmessiri {
    font-family: 'El Messiri', sans-serif !important;
}

.x-ff-lemonada {
    font-family: 'Lemonada', cursive !important;
}

.x-ff-fjallaone {
    font-family: "Fjalla One", sans-serif !important;
}

.x-ff-opensanscondensed {
    font-family: "Open Sans Condensed", sans-serif !important;
}

.x-ff-dosis {
    font-family: "Dosis", sans-serif !important;
}


/***********************************************
    display (like emmet)
***********************************************/
/* TODO: is there a bette way to perform this? */

.x-d-n {
    display: none !important;
}

.x-d-b {
    display: block !important;
}

.x-d-i {
    display: inline !important;
}

.x-d-ib {
    display: inline-block !important;
}

.x-d-f {
    display: flex !important;
}

.x-d-if {
    display: inline-flex !important;
}

.x-d-li {
    display: list-item !important;
}

.x-d-t,
.x-d-tb {
    display: table !important;
}

.x-d-tcl,
.x-d-tbcl {
    display: table-cell !important;
}


/***********************************************
    line-height (like emmet)
***********************************************/
.x-lh-n {
    line-height: normal !important
}

@for $item from 0 through 150 {
    .x-lh-#{$item} {
        line-height: $item + px !important;
    }
}


/***********************************************
    position (like emmet)
***********************************************/
@each $item in "s.static", "a.absolute", "r.relative", "f.fixed" {
    .x-pos-#{str-slice($item, 1, str-index($item, ".") - 1)} {
        position: #{str-slice($item, str-index($item, ".") + 1)} !important;
    }
}

/***********************************************
    top, bottom, left, right (like emmet)
***********************************************/
.x-t-a {
    top: auto !important
}

@for $item from 0 through 50 {
    .x-t-#{$item} {
        top: $item + px !important;
    }
}

.x-b-a {
    bottom: auto !important
}

@for $item from 0 through 50 {
    .x-b-#{$item} {
        bottom: $item + px !important;
    }
}

.x-l-a {
    left: auto !important
}

@for $item from 0 through 50 {
    .x-l-#{$item} {
        left: $item + px !important;
    }
}

.x-r-a {
    right: auto !important
}

@for $item from 0 through 50 {
    .x-r-#{$item} {
        right: $item + px !important;
    }
}

/***********************************************
    float and clear (like emmet)
***********************************************/
@each $item in "l.left", "r.right", "n.none" {
    .x-fl-#{str-slice($item, 1, str-index($item, ".") - 1)} {
        float: #{str-slice($item, str-index($item, ".") + 1)} !important;
    }
}

@each $item in "l.left", "r.right", "b.both", "n.none" {
    .x-cl-#{str-slice($item, 1, str-index($item, ".") - 1)} {
        clear: #{str-slice($item, str-index($item, ".") + 1)} !important;
    }
}