//***********************************************
// Variables
//***********************************************
$zero: 0;
$one: 1;
$five: 5;
$ten: 10;
$twenty-five: 25;
$fifty: 50;
$fifty-five: 55;
$one-hundred: 100;
$two-hundred-fifty: 250;
$five-hundred: 500;
