//***********************************************
//    Variables
//***********************************************
$zero: 0;
$one: 1;
$five: 5;
$ten: 10;
$fifteen: 15;
$twenty-five: 25;
$thirty: 30;
$fifty: 50;
$one-hundred: 100;
$two-hundred: 200;
$two-hundred-fifty: 250;
$five-hundred: 500;
$one-thousand: 1000;